


.sidebar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #9a9a9a;
    z-index: 501;
    .sidebar-overlay{
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all ease 0.4s;
        .app-sidebar{
                border-top: 1px solid #222;
                box-shadow: 0 1px 1px #363636 inset;
                background: #282828;
                position: absolute;
                display: block;
                top: 0;
                right: 110px;
                bottom: 0;
                left: 0;
                transition: all ease 0.4s;
            .sidebar-nav{
                padding: 0 16px;
                display: flex;
                line-height: 50px;
                color: #9a9a9a;
                font-size: 14px;
                justify-content: space-between;
                border-bottom: 1px dotted #333;
                align-items: center;
                i{
                    color: #666;
                    font-size: 14px;
                }
            }
        }
    }
}

.show{
    display: block;
}
.hide{
    display: none;
}


.transition-sidebar-enter .sidebar-overlay {
  opacity: 0.1;
}
.transition-sidebar-enter .sidebar-overlay .app-sidebar {
  transform: translate3D(-300px, 0, 0);
  -webkit-transform: translate3D(-300px, 0, 0);
}
.transition-sidebar-enter.transition-sidebar-enter-active .sidebar-overlay {
  opacity: 1;
}
.transition-sidebar-enter.transition-sidebar-enter-active .sidebar-overlay .app-sidebar {
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
}
.transition-sidebar-leave .sidebar-overlay {
  opacity: 1;
}
.transition-sidebar-leave .sidebar-overlay .app-sidebar {
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
}
.transition-sidebar-leave.transition-sidebar-leave-active .sidebar-overlay {
  opacity: 0.1;
}
.transition-sidebar-leave.transition-sidebar-leave-active .sidebar-overlay .app-sidebar {
  transform: translate3D(-300px, 0, 0);
  -webkit-transform: translate3D(-300px, 0, 0);
}
