

.am-drawer-sidebar{
    width: 70%;
    .sidebar-nav{
        .am-list-body{
            background: #282828;
            &::before{
                background: #333;
            }
            &::after{
                background: #333;
            }
        }
        width: 100%;
        height: 100%;
        border-top: 1px solid #222;
        box-shadow: 0 1px 1px #363636 inset;
        background: #282828;
        position: absolute;
        display: block;
        top: 0;
        right: 110px;
        bottom: 0;
        left: 0;
        transition: all ease 0.4s;
        .am-list-item{
            height: 50px;
            &::before{
                background: #333;
            }
        }
        .sidebar-nav-item{
                line-height: 50px;
                display: block;
                width: 100%;
                padding: 0 16px;
                border-bottom: 1px dotted #333;
                font-size: 14px;
                color: #9a9a9a;
                display: flex;
                justify-content: space-between;
                align-items: center;
                    i{
                        font-size: 14px;

                    }
             
        }
    }
}
